<div class="login-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="user.password" name="password" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>